{% extends 'website/index.html' %}
{% load static %}

{% block content %}
<div class="gallery">
    <div class="grid">

        {% for photo in photos %}

        <div class="photo photo--{{ photo.display_size }}" oncontextmenu="return false;">
            
            <div class="photo-location">
                <h3>{{ photo.location }}</h3>
            </div>
            
            <img src="{% static photo.lazy_image.url %}" data-src="{% static photo.thumb_image.url %}" class="lazy" alt="{{ photo.location }}" >
            
        </div>

        {% endfor %}
    </div>
</div>



{% endblock %}
