{% extends 'website/index.html' %}
{% load static %}

{% block title %} | Photography{% endblock %}


{% block content %}
<div class="gallery gallery-main">
    <div class="grid">

        {% for photo in photos %}

        <div class="photo photo--{{ photo.display_size }}" oncontextmenu="return false;" onclick="openModal();currentSlide({{ forloop.counter }})">
            
            <div class="photo-location">
                <h3>{{ photo.location }}</h3>
            </div>
            
            <img src="{{ photo.lazy_image.url }}" data-src="{{ photo.thumb_image.url }}" data-modal="{{ photo.full_image.url }}" class="lazy img--in-grid" alt="{{ photo.location }}" oncontextmenu="return false">
            
        </div>

        {% endfor %}
    </div>
</div>

<noscript>
    <div class="gallery gallery-nojava">
        <div class="grid">
            {% for photo in photos %}
            <div class="photo photo--{{ photo.display_size }}" oncontextmenu="return false;">
                <div class="photo-location">
                    <h3>{{ photo.location }}</h3>
                </div>
                <img src="{{ photo.thumb_image.url }}" class="img--in-grid" alt="{{ photo.location }}" oncontextmenu="return false;">
            </div>
            {% endfor %}
        </div>
    </div>

    <style type="text/css">
        .gallery-main { display: none; }
    </style>
</noscript>

<!-- Lightbox modal -->
<div id="gallery-modal" class="modal">
    <span class="close cursor control" onclick="closeModal()">&times;</span>
    <div class="view-image" oncontextmenu="return false">
         
        <div class="modal-controls">
            <a id="prev-arrow" class="prev control" onclick="plusSlides(-1)">&#10094;</a>
            <a id="next-arrow" class="next control" onclick="plusSlides(1)">&#10095;</a>
        </div>
        
        <div class="image-container">
            <img id="modal-image" class="img--in-view" oncontextmenu="return false">
        </div>
        
    </div>
    <h3 id="modal-location">{{ photo.location }}</h3>
</div>


<script type="text/javascript" src="{% static 'js/gallery.js' %}"></script>

{% endblock %}
