{% load static %}
{% load custom_tags %}

<!DOCTYPE html>

<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatabile" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Andrew Banks{% block title %}{% endblock %}</title>

        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap">

        <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
        
        <!-- favicons
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'media/favicon/apple-touch-icon-180.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'media/favicon/favicon-16x16.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'media/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'media/favicon/manifest.json' %}">
        <link rel="mask-icon" href="{% static 'media/favicon/safari-pinned-tab.svg' %}" color="#eeeef0">
        <meta name-"theme-color" content="#eeeef0">
        -->
        
    </head>

    <body>
        
        <!-- navbar for all pages -->
        <div class="nav-container">
            <nav>
                <input type="checkbox" id="nav-toggle">
                <label for="nav-toggle" class="chevron-menu">
                    <i class="fas fa-chevron-down"></i>
                </label>
                    
                <div class="nav-menu">
                    <a title="Coming Soon" href="#">About</a>
                    <a title="Coming Soon" href="#">Resume</a>
                    <a href="{% url 'gallery' %}">Photography</a>
                    <a  id="contact-button" class="nav-right" onclick="openContactForm();">Contact</a>
                </div>
                        
                <a href="/" class="logo">Andrew Banks</a>



            </nav>
        </div>

        {% block content %}
        {% endblock %}

        

        {% contact request %}


    </body>
</html>
