{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatabile" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Andrew Banks{% block title %}{% endblock %}</title>

        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css">
        <!--
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        -->
        
    </head>

    <body>

        <!--<div class="main-content">-->
        
            <!-- navbar for all pages -->
            <div class="nav-container">
                <nav>
                    <input type="checkbox" id="nav-toggle">
                    <label for="nav-toggle" class="chevron-menu">
                         <i class="fas fa-chevron-down"></i>
                    </label>
                    
                    <div class="nav-menu">
                        <a href="#">About</a>
                        <a href="#">Resume</a>
                        <a href="{% url 'gallery' %}">Photography</a>
                        <a href="#" class="nav-right">Contact</a>
                    </div>
                        
                    <a href="/" class="logo">Andrew Banks</a>



                </nav>
            </div>

            {% block content %}
            {% endblock %}

            <!--</div>-->

    </body>
</html>
