.home-content
    height: 100%
    grid-row: 2
    display: grid
    grid-template-rows: auto 1fr
    overflow: auto

.hero-image
    grid-row: 1
    grid-column: 1
    height: $bg-height / $bg-width * 100vw
    background: $bg-image-small
    background-position: center top
    background-repeat: no-repeat
    background-size: contain

.welcome
    grid-row: 2
    grid-column: 1
    display: flex
    justify-content: flex-start
    align-items: flex-start
    flex-flow: column

    .welcome-wrapper
        display: flex
        flex-flow: column
        justify-content: flex-start
        align-items: flex-start
        padding: 2.5rem
        color: $dark

    h1
        padding-bottom: 0.25rem

    a
        text-decoration: none
        font-size: 1.05em
        font-variant: small-caps
        letter-spacing: 0.1rem
        color: lighten($dark, 5%)
        opacity: 0.8
        border-bottom: 0.1em solid rgba(lighten($dark, 5%), 0)
        transition: opacity 1s, border-color 1s

        &:hover
            opacity: 1
            border-color: rgba(lighten($dark, 5%), 1)



@media only screen and (min-width: 568px)

    .home-content
        grid-template-rows: 1fr

    .hero-image
        height: 100%
        background-image: $bg-image-large
        background-size: cover

    .welcome
        grid-row: 1
        grid-column: 1
        display: flex
        justify-content: center
        align-items: center

        a
            color: lighten($light, 5%)
            border-color: rgba(lighten($light, 5%), 0)

            &:hover
                border-color: rgba(lighten($light, 5%), 1)


        .welcome-wrapper
            background: rgba($dark, 0.8)
            color: $light
            height: auto
            width: 60vw
            border-radius: 0.1rem
            box-shadow: 0.32rem 0.32rem 0.48rem rgba($dark, 0.8)
            justify-content: center
            

            
@media only screen and (orientation: landscape) and (min-width: 1024px)
    .welcome
        align-items: flex-start
        padding-bottom: 10vh
        padding-left: 5vw
        
        .welcome-wrapper
            height: auto
            width: 30%
