+keyframes(dropDown)
    from
        height: 0
    to
        height: 10rem

+keyframes(fadeIn)
    from
        opacity: 0
    to
        opacity: 1

.nav-container
    grid-row: 1
    width: 100%
    line-height: 1
    
    +linear-gradient(lighten($dark, 12.5%), $dark)
    box-shadow: 0 0.16rem 0.4rem rgba($dark, 0.8)
    z-index: 9998
    

nav
    width: 100%
    margin: 0 auto
    display: grid
    grid-template-columns: 2fr auto 1fr

    a
        text-decoration: none
        color: $light
        font-size: 1.4rem
        font-weight: bold

        &:hover
            color: lighten($light, 5%)
        &:active
            color: darken($light, 15%)

.nav-menu
    display: none
    grid-area: 2 / 1 / 2 / -1
    transition: height 0.25s
    padding: 0.05rem 0

    text-align: center

    a
        color: $dark
        padding: 0.5rem 0

    .nav-right
        cursor: pointer

.logo
    grid-column: 1
    grid-row: 1
    margin: auto auto auto 0
    padding: 0.5rem 1rem

    font-size: 2.4rem
    font-variant: small-caps
    font-weight: bold
    letter-spacing: 0.08rem

.chevron-menu
    grid-column: 3
    grid-row: 1
    margin: auto 0 auto auto
    color: $light
    display: flex
    justify-content: flex-end
    align-items: center
    padding: 1rem
    cursor: pointer
    font-size: 1.6rem
    transform: scale(1,1)

    transition: transform 0.1s

    &:hover
        color: lighten($light, 5%)

#nav-toggle
    display: none

#nav-toggle:checked

    & ~ .chevron-menu
        transform: scale(1,-1)
        transition: transform 1s

        &:active ~ .nav-menu
            height: 0
            border: none    

            a
                visibility: hidden
    
    & ~ .nav-menu
        display: grid
        +animation(dropDown 1s)

        +linear-gradient(to bottom right, lighten($light, 10%), $light)  
        border-top: 0.2rem solid $accent

        height: 10rem

        a:first-child
            +animation(fadeIn 0.125s 0.125s backwards)
        a:nth-child(2)
            +animation(fadeIn 0.125s 0.25s backwards)
        a:nth-child(3)
            +animation(fadeIn 0.125s 0.375s backwards)
        a:last-child
            +animation(fadeIn 0.125s 0.625s backwards)

        a:hover,
        a:active
            background-image: linear-gradient(to right, $accent, lighten($accent, 10%), $accent)
        
        a:hover,
            color: lighten($light, 10%)
        a:active
            color: $light




@media only screen and (min-width: 768px)
    #nav-toggle,
    .chevron-menu
        display: none

    #nav-toggle:checked ~ .nav-menu,
    .nav-menu
        display: flex
        grid-area: 1 / 1 / 1 / -1
        justify-content: flex-start
        align-items: center
        
        +linear-gradient(lighten($dark, 10%), $dark)
        border: none
        height: auto
        padding: 0
        
        a
            font-size: 1.8rem
            color: $light
            padding: 1rem

        .nav-right
            margin-left: auto
            +linear-gradient(lighten($accent, 10%), $accent)

            &:hover
                background: lighten($accent, 10%)

            &:active
                background: $accent

    #nav-toggle:checked ~ .logo,
    .logo
        grid-column: 2
        font-size: 2.8rem
        
