// *************
// hvalnes theme
// *************

// colors
$dark: #292824
$light: lighten(#abadb3, 20%)
$accent: #c04011

// background image
$bg-image-large: url("https://s3.us-east-2.amazonaws.com/amgbanks-assets/static/media/backgrounds/hvalnes_lqr_2400x1200.jpg")
$bg-image-small: url("https://s3.us-east-2.amazonaws.com/amgbanks-assets/static/media/backgrounds/hvalnes_lqr_1200x600.jpg")
$bg-height: 600px
$bg-width: 1200px

// ************
// aoraki theme
// ************
//$dark: #060a0e
//$light: #d0e7ff
//$accent: #ff4040

//$bg-image-large: url("https://s3.us-east-2.amazonaws.com/amgbanks-assets/static/media/backgrounds/mtcook_oilify_2400x1333.jpg"
//$bg-image-small: url("https://s3.us-east-2.amazonaws.com/amgbanks-assets/static/media/backgrounds/mtcook_oilify_1200x667.jpg"
//$bg-height: 667px
//$bg-width: 1200px

// font stack
$fonts: 'Fira Sans', sans-serif
