// hvalnes theme

// colors
$dark: #292824
$light: lighten(#abadb3, 20%)
$accent: #c04011

// background image
$bg-image-large: url("https://s3.us-east-2.amazonaws.com/amgbanks-assets/static/media/backgrounds/hvalnes_lqr_2400x1200.jpg")
$bg-image-small: url("https://s3.us-east-2.amazonaws.com/amgbanks-assets/static/media/backgrounds/hvalnes_lqr_600x300.jpg")
$bg-height: 300px
$bg-width: 600px

// font stack
$fonts: Droid Sans, sans-serif
