@-webkit-keyframes dropDown {
  from {
    height: 0; }
  to {
    height: 10rem; } }
@-moz-keyframes name {
  from {
    height: 0; }
  to {
    height: 10rem; } }
@-ms-keyframes name {
  from {
    height: 0; }
  to {
    height: 10rem; } }
@-o-keyframes name {
  from {
    height: 0; }
  to {
    height: 10rem; } }
@keyframes name {
  from {
    height: 0; }
  to {
    height: 10rem; } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes name {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes name {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes name {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes name {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.nav-container {
  grid-row: 1;
  width: 100%;
  line-height: 1;
  background-image: -webkit-linear-gradient(#4b4942, #292824);
  background-image: -moz-linear-gradient(#4b4942, #292824);
  background-image: -ms-linear-gradient(#4b4942, #292824);
  background-image: -o-linear-gradient(#4b4942, #292824);
  background-image: linear-gradient(#4b4942, #292824);
  box-shadow: 0 0.16rem 0.4rem rgba(41, 40, 36, 0.8);
  z-index: 9999; }

nav {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr auto 1fr; }
  nav a {
    text-decoration: none;
    color: #e1e1e3;
    font-size: 1.4rem;
    font-weight: bold; }
    nav a:hover {
      color: #eeeef0; }
    nav a:active {
      color: #b8babf; }

.nav-menu {
  display: none;
  grid-area: 2/1/2/-1;
  transition: height 0.25s;
  padding: 0.05rem 0;
  text-align: center; }
  .nav-menu a {
    color: #292824;
    padding: 0.5rem 0; }

.logo {
  grid-column: 1;
  grid-row: 1;
  margin: auto auto auto 0;
  padding: 0.5rem 1rem;
  font-size: 2.4rem;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: 0.08rem; }

.chevron-menu {
  grid-column: 3;
  grid-row: 1;
  margin: auto 0 auto auto;
  color: #e1e1e3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.6rem;
  transform: scale(1, 1);
  transition: transform 0.1s; }
  .chevron-menu:hover {
    color: #eeeef0; }

#nav-toggle {
  display: none; }

#nav-toggle:checked ~ .chevron-menu {
  transform: scale(1, -1);
  transition: transform 1s; }
  #nav-toggle:checked ~ .chevron-menu:active ~ .nav-menu {
    height: 0;
    border: none; }
    #nav-toggle:checked ~ .chevron-menu:active ~ .nav-menu a {
      visibility: hidden; }
#nav-toggle:checked ~ .nav-menu {
  display: grid;
  -webkit-animation: dropDown 1s;
  -moz-animation: dropDown 1s;
  -ms-animation: dropDown 1s;
  -o-animation: dropDown 1s;
  animation: dropDown 1s;
  background-image: -webkit-linear-gradient(to bottom right, #fbfbfc, #e1e1e3);
  background-image: -moz-linear-gradient(to bottom right, #fbfbfc, #e1e1e3);
  background-image: -ms-linear-gradient(to bottom right, #fbfbfc, #e1e1e3);
  background-image: -o-linear-gradient(to bottom right, #fbfbfc, #e1e1e3);
  background-image: linear-gradient(to bottom right, #fbfbfc, #e1e1e3);
  border-top: 0.2rem solid #c04011;
  height: 10rem; }
  #nav-toggle:checked ~ .nav-menu a:first-child {
    -webkit-animation: fadeIn 0.125s 0.125s backwards;
    -moz-animation: fadeIn 0.125s 0.125s backwards;
    -ms-animation: fadeIn 0.125s 0.125s backwards;
    -o-animation: fadeIn 0.125s 0.125s backwards;
    animation: fadeIn 0.125s 0.125s backwards; }
  #nav-toggle:checked ~ .nav-menu a:nth-child(2) {
    -webkit-animation: fadeIn 0.125s 0.25s backwards;
    -moz-animation: fadeIn 0.125s 0.25s backwards;
    -ms-animation: fadeIn 0.125s 0.25s backwards;
    -o-animation: fadeIn 0.125s 0.25s backwards;
    animation: fadeIn 0.125s 0.25s backwards; }
  #nav-toggle:checked ~ .nav-menu a:nth-child(3) {
    -webkit-animation: fadeIn 0.125s 0.375s backwards;
    -moz-animation: fadeIn 0.125s 0.375s backwards;
    -ms-animation: fadeIn 0.125s 0.375s backwards;
    -o-animation: fadeIn 0.125s 0.375s backwards;
    animation: fadeIn 0.125s 0.375s backwards; }
  #nav-toggle:checked ~ .nav-menu a:last-child {
    -webkit-animation: fadeIn 0.125s 0.625s backwards;
    -moz-animation: fadeIn 0.125s 0.625s backwards;
    -ms-animation: fadeIn 0.125s 0.625s backwards;
    -o-animation: fadeIn 0.125s 0.625s backwards;
    animation: fadeIn 0.125s 0.625s backwards; }
  #nav-toggle:checked ~ .nav-menu a:hover,
  #nav-toggle:checked ~ .nav-menu a:active {
    background-image: linear-gradient(to right, #c04011, #eb5219, #c04011); }
  #nav-toggle:checked ~ .nav-menu a:hover {
    color: #fbfbfc; }
  #nav-toggle:checked ~ .nav-menu a:active {
    color: #e1e1e3; }

@media only screen and (min-width: 768px) {
  #nav-toggle,
  .chevron-menu {
    display: none; }

  #nav-toggle:checked ~ .nav-menu,
  .nav-menu {
    display: flex;
    grid-area: 1/1/1/-1;
    justify-content: flex-start;
    align-items: center;
    background-image: -webkit-linear-gradient(#44423c, #292824);
    background-image: -moz-linear-gradient(#44423c, #292824);
    background-image: -ms-linear-gradient(#44423c, #292824);
    background-image: -o-linear-gradient(#44423c, #292824);
    background-image: linear-gradient(#44423c, #292824);
    border: none;
    height: auto;
    padding: 0; }
    #nav-toggle:checked ~ .nav-menu a,
    .nav-menu a {
      font-size: 1.8rem;
      color: #e1e1e3;
      padding: 1rem; }
    #nav-toggle:checked ~ .nav-menu .nav-right,
    .nav-menu .nav-right {
      margin-left: auto;
      background-image: -webkit-linear-gradient(#eb5219, #c04011);
      background-image: -moz-linear-gradient(#eb5219, #c04011);
      background-image: -ms-linear-gradient(#eb5219, #c04011);
      background-image: -o-linear-gradient(#eb5219, #c04011);
      background-image: linear-gradient(#eb5219, #c04011); }

  #nav-toggle:checked ~ .logo,
  .logo {
    grid-column: 2;
    font-size: 2.8rem; } }
.home-content {
  height: 100%;
  grid-row: 2;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: auto; }

.hero-image {
  grid-row: 1;
  grid-column: 1;
  height: 51.6666666667vw;
  background: url("https://s3.us-east-2.amazonaws.com/amgbanks-assets/static/media/backgrounds/hvalnes/hvalnes_lqr600x310.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain; }

.welcome {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column; }
  .welcome .welcome-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2.5rem;
    color: #292824; }
  .welcome h1 {
    padding-bottom: 0.25rem; }
  .welcome a {
    text-decoration: none;
    font-size: 1.05em;
    font-variant: small-caps;
    letter-spacing: 0.1rem;
    color: #373530;
    opacity: 0.8;
    border-bottom: 0.1em solid rgba(55, 53, 48, 0);
    transition: opacity 1s, border-color 1s; }
    .welcome a:hover {
      opacity: 1;
      border-color: #373530; }

@media only screen and (min-width: 568px) {
  .home-content {
    grid-template-rows: 1fr; }

  .hero-image {
    height: 100%;
    background-image: url("https://s3.us-east-2.amazonaws.com/amgbanks-assets/static/media/backgrounds/hvalnes/hvalnes_lqr1600x827.jpg");
    background-size: cover; }

  .welcome {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    .welcome a {
      color: #eeeef0;
      border-color: rgba(238, 238, 240, 0); }
      .welcome a:hover {
        border-color: #eeeef0; }
    .welcome .welcome-wrapper {
      background: rgba(41, 40, 36, 0.8);
      color: #e1e1e3;
      height: auto;
      width: 60vw;
      border-radius: 0.1rem;
      box-shadow: 0.32rem 0.32rem 0.32rem rgba(41, 40, 36, 0.8);
      justify-content: center; }
      @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        .welcome .welcome-wrapper {
          -webkit-backdrop-filter: blur(2vw);
          backdrop-filter: blur(2vw);
          background: rgba(41, 40, 36, 0.75);
          box-shadow: 0.32rem 0.32rem 0.1rem rgba(41, 40, 36, 0.75); } } }
@media only screen and (orientation: landscape) and (min-width: 1024px) {
  .welcome {
    align-items: flex-start;
    padding-bottom: 10vh;
    padding-left: 5vw; }
    .welcome .welcome-wrapper {
      height: auto;
      width: 30%; } }
.gallery {
  position: relative;
  z-index: 1;
  grid-row: 2;
  grid-column: 1/-1;
  display: none;
  overflow: auto;
  padding: 2rem; }
  @media only screen and (min-width: 768px) {
    .gallery {
      padding: 4rem 8rem; } }
@supports(display: grid) {
  .gallery {
    display: block; } }
.grid {
  display: grid;
  margin: auto;
  padding-bottom: 2rem;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: row dense; }
  @media only screen and (min-width: 605px) {
    .grid {
      grid-auto-rows: 18rem; } }
  @media only screen and (min-width: 768px) {
    .grid {
      padding-bottom: 4rem;
      max-width: 70vw; } }

.photo {
  box-sizing: border-box;
  grid-column-start: auto;
  grid-row-start: auto;
  overflow: hidden;
  position: relative;
  border: 0 none;
  background: none;
  box-shadow: 0 0 0.25rem;
  transition: transform 1s;
  cursor: pointer; }
  .photo .photo-location {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(192, 64, 17, 0.4);
    color: #fbfbfc;
    opacity: 0;
    transition: opacity 0.5s;
    font-weight: normal;
    font-variant: small-caps;
    transform: scaleX(1.25); }
  .photo .lazy {
    filter: blur(2vw); }
  .photo .img--in-grid {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    transition: filter 1s; }
  .photo:hover {
    transform: scale(1.02); }
    .photo:hover .photo-location {
      opacity: 1; }
    .photo:hover img {
      filter: blur(1vw); }
  @media only screen and (min-width: 768px) {
    .photo--large {
      grid-column-end: span 2;
      grid-row-end: span 2; } }
  .photo--high {
    grid-row-end: span 2; }
  .photo--tall {
    grid-row-end: span 3; }
  .photo--full {
    grid-column-end: auto; }
    @media only screen and (min-width: 768px) {
      .photo--full {
        grid-column: span 2;
        grid-row-end: span 2; } }
    @media only screen and (min-width: 1186px) {
      .photo--full {
        grid-column: span 3; } }

/*.modal
 * display: none
 * z-index: 9998
 * grid-row: 2
 * grid-column: 1 / -1
 * width: 100%
 * height: 100%
 * max-width: 100%
 * max-height: 100%
 * background: rgba(darken($dark, 5%), 0.95)
 *
 * grid-template-columns: 1fr
 * grid-template-rows: min-content 1fr
 *
 * @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none)
 *     -webkit-backdrop-filter: blur(1vw)
 *     backdrop-filter: blur(1vw)
 *
 * .close
 *     grid-row: 1
 *     justify-self: end
 *     font-size: 4rem
 *     font-weight: bold
 *     color: $light
 *     margin: 0 3rem 0 0
 *     cursor: pointer
 *
 *     &:hover
 *         color: lighten($light, 5%)
 *     &:active
 *         color: darken($light, 15%)
 *
 *
 * .view-image
 *     grid-row: 2
 *     justify-self: center
 *     align-self: start
 *     height: 100%
 *     width: 100%
 *     max-height: 100%
 *     max-width: 100%
 *     display: grid
 *     grid-template-rows: 1fr
 *     grid-template-columns: 1fr
 *
 *     box-sizing: border-box
 *     padding: 2rem 2rem
 *
 *     .modal-controls
 *         z-index: 1
 *         display: flex
 *         grid-row: 1
 *         grid-column: 1
 *         justify-content: space-between
 *         align-items: center
 *
 *         a
 *             color: $light
 *             font-size: 4rem
 *             font-weight: bold
 *             cursor: pointer
 *
 *             &:hover
 *                 color: lighten($light, 5%)
 *             &:active
 *                 color: darken($light, 15%)
 *
 *     .img--in-view
 *         grid-row: 1
 *         grid-column: 1
 *         justify-self: center
 *         align-self: center
 *         width: auto
 *         height: auto
 *         max-width: 100%
 *         max-height: 100%
 *         display: flex
 *         object-fit: contain
 *         display: block
 *         box-shadow: 0 0 0.1rem rgba($light, 0.5)
 *
 *     #modal-location
 *         grid-row: 2
 *         grid-column: 1 / -1
 *         justify-self: center
 *         align-self: center
 *         color: $light
 *         padding-top: 2rem
 *         font-weight: normal
 *         font-variant: small-caps
 *         transform: scaleX(1.25) */
.modal {
  position: relative;
  z-index: 2;
  display: none;
  opacity: 0;
  transform: scale(0);
  grid-row: 2;
  grid-column: 1/-1;
  min-width: 0;
  min-height: 0;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr;
  background: rgba(41, 40, 36, 0.95); }
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .modal {
      -webkit-backdrop-filter: blur(1vw);
      backdrop-filter: blur(1vw); } }
  .modal .close {
    grid-row: 1;
    justify-self: end;
    font-weight: bold;
    font-size: 4rem;
    cursor: pointer;
    color: #d3d4d7;
    padding-right: 2rem; }
    .modal .close:hover {
      color: #eeeef0; }
  .modal .view-image {
    grid-row: 2;
    min-width: 0;
    min-height: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr; }
    .modal .view-image .modal-controls {
      z-index: 2;
      grid-row: 1;
      grid-column: 1;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .modal .view-image .modal-controls .prev,
      .modal .view-image .modal-controls .next {
        font-weight: bold;
        font-size: 4rem;
        color: #d3d4d7;
        cursor: pointer;
        padding: 2rem; }
        .modal .view-image .modal-controls .prev:hover,
        .modal .view-image .modal-controls .next:hover {
          color: #eeeef0; }
    .modal .view-image .image-container {
      grid-row: 1;
      grid-column: 1;
      display: flex;
      min-width: 0;
      min-height: 0;
      padding: 0 2rem; }
      .modal .view-image .image-container .img--in-view {
        width: 100%;
        height: 100%;
        object-fit: contain;
        filter: drop-shadow(0 0 0.1rem rgba(225, 225, 227, 0.5)); }
  .modal #modal-location {
    grid-row: 3;
    justify-self: center;
    align-self: end;
    font-weight: normal;
    font-variant: small-caps;
    padding: 2rem;
    transform: scaleX(1.25);
    color: #e1e1e3; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

html,
body {
  height: 100vh;
  width: 100vw;
  max-height: 100%;
  max-width: 100%; }

body {
  font-family: Droid Sans, sans-serif;
  background-color: #eeeef0;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr; }
  body ::selection {
    background: rgba(192, 64, 17, 0.7);
    color: #fbfbfc; }
  body h1 {
    font-size: 3.2rem; }
  body h2 {
    font-size: 2.4rem; }
  body h3 {
    font-size: 1.875rem; }
  body h4 {
    font-size: 1.6rem; }
  body h5 {
    font-size: 1.325rem; }
  body h6 {
    font-size: 1.06rem; }

/*# sourceMappingURL=style.css.map */
