@-webkit-keyframes dropDown {
  from {
    height: 0; }
  to {
    height: 7.5em; } }
@-moz-keyframes name {
  from {
    height: 0; }
  to {
    height: 7.5em; } }
@-ms-keyframes name {
  from {
    height: 0; }
  to {
    height: 7.5em; } }
@-o-keyframes name {
  from {
    height: 0; }
  to {
    height: 7.5em; } }
@keyframes name {
  from {
    height: 0; }
  to {
    height: 7.5em; } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes name {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes name {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes name {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes name {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.nav-container {
  grid-row: 1;
  width: 100%;
  background-image: -webkit-linear-gradient(#4b4942, #292824);
  background-image: -moz-linear-gradient(#4b4942, #292824);
  background-image: -ms-linear-gradient(#4b4942, #292824);
  background-image: -o-linear-gradient(#4b4942, #292824);
  background-image: linear-gradient(#4b4942, #292824);
  box-shadow: 0 0.1em 0.25em rgba(41, 40, 36, 0.8);
  z-index: 9999; }

nav {
  max-width: 1720px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr auto 1fr; }
  nav a {
    text-decoration: none;
    color: #e1e1e3;
    font-size: 1.25em;
    font-weight: bold; }
    nav a:hover {
      color: #eeeef0; }
    nav a:active {
      color: #b8babf; }

.nav-menu {
  display: none;
  grid-area: 2/1/2/-1;
  transition: height 0.25s;
  text-align: center; }
  .nav-menu a {
    color: #292824;
    padding: 0.125em 0 0.125em 0; }

.logo {
  grid-column: 1;
  grid-row: 1;
  margin: auto auto auto 0;
  padding: 0.1em 0.25em 0.1em 0.25em;
  font-size: 2em;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: 0.03em; }

.chevron-menu {
  grid-column: 3;
  grid-row: 1;
  margin: auto 0 auto auto;
  color: #e1e1e3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em;
  cursor: pointer;
  transition: transform 0.1s; }
  .chevron-menu:hover {
    color: #eeeef0; }

#nav-toggle {
  display: none; }

#nav-toggle:checked ~ .chevron-menu {
  transform: scaleY(-1);
  transition: transform 1s; }
  #nav-toggle:checked ~ .chevron-menu:active ~ .nav-menu {
    height: 0;
    border: none; }
    #nav-toggle:checked ~ .chevron-menu:active ~ .nav-menu a {
      visibility: hidden; }
#nav-toggle:checked ~ .nav-menu {
  display: grid;
  -webkit-animation: dropDown 1s;
  -moz-animation: dropDown 1s;
  -ms-animation: dropDown 1s;
  -o-animation: dropDown 1s;
  animation: dropDown 1s;
  background-image: -webkit-linear-gradient(to bottom right, #fbfbfc, #e1e1e3);
  background-image: -moz-linear-gradient(to bottom right, #fbfbfc, #e1e1e3);
  background-image: -ms-linear-gradient(to bottom right, #fbfbfc, #e1e1e3);
  background-image: -o-linear-gradient(to bottom right, #fbfbfc, #e1e1e3);
  background-image: linear-gradient(to bottom right, #fbfbfc, #e1e1e3);
  border-top: 0.2em solid #c04011;
  border-bottom: 0.1em solid #292824;
  height: 7.5em; }
  #nav-toggle:checked ~ .nav-menu a:first-child {
    -webkit-animation: fadeIn 0.125s 0.125s backwards;
    -moz-animation: fadeIn 0.125s 0.125s backwards;
    -ms-animation: fadeIn 0.125s 0.125s backwards;
    -o-animation: fadeIn 0.125s 0.125s backwards;
    animation: fadeIn 0.125s 0.125s backwards; }
  #nav-toggle:checked ~ .nav-menu a:nth-child(2) {
    -webkit-animation: fadeIn 0.125s 0.25s backwards;
    -moz-animation: fadeIn 0.125s 0.25s backwards;
    -ms-animation: fadeIn 0.125s 0.25s backwards;
    -o-animation: fadeIn 0.125s 0.25s backwards;
    animation: fadeIn 0.125s 0.25s backwards; }
  #nav-toggle:checked ~ .nav-menu a:nth-child(3) {
    -webkit-animation: fadeIn 0.125s 0.375s backwards;
    -moz-animation: fadeIn 0.125s 0.375s backwards;
    -ms-animation: fadeIn 0.125s 0.375s backwards;
    -o-animation: fadeIn 0.125s 0.375s backwards;
    animation: fadeIn 0.125s 0.375s backwards; }
  #nav-toggle:checked ~ .nav-menu a:last-child {
    -webkit-animation: fadeIn 0.125s 0.625s backwards;
    -moz-animation: fadeIn 0.125s 0.625s backwards;
    -ms-animation: fadeIn 0.125s 0.625s backwards;
    -o-animation: fadeIn 0.125s 0.625s backwards;
    animation: fadeIn 0.125s 0.625s backwards; }
  #nav-toggle:checked ~ .nav-menu a:hover,
  #nav-toggle:checked ~ .nav-menu a:active {
    background: #c04011; }
  #nav-toggle:checked ~ .nav-menu a:hover {
    color: #e1e1e3; }
  #nav-toggle:checked ~ .nav-menu a:active {
    color: #eeeef0; }

@media only screen and (min-width: 768px) {
  #nav-toggle,
  .chevron-menu {
    display: none; }

  nav a:hover {
    color: #eeeef0; }
  nav a:active {
    color: #b8babf; }

  #nav-toggle:checked ~ .nav-menu,
  .nav-menu {
    display: flex;
    grid-area: 1/1/1/-1;
    justify-content: flex-start;
    align-items: center;
    background-image: -webkit-linear-gradient(#44423c, #292824);
    background-image: -moz-linear-gradient(#44423c, #292824);
    background-image: -ms-linear-gradient(#44423c, #292824);
    background-image: -o-linear-gradient(#44423c, #292824);
    background-image: linear-gradient(#44423c, #292824);
    padding-top: 0;
    border: none;
    height: auto; }
    #nav-toggle:checked ~ .nav-menu a,
    .nav-menu a {
      color: #e1e1e3;
      padding: 0.625em 0.5em 0.625em 0.5em; }
    #nav-toggle:checked ~ .nav-menu .nav-right,
    .nav-menu .nav-right {
      margin-left: auto;
      background-image: -webkit-linear-gradient(#eb5219, #c04011);
      background-image: -moz-linear-gradient(#eb5219, #c04011);
      background-image: -ms-linear-gradient(#eb5219, #c04011);
      background-image: -o-linear-gradient(#eb5219, #c04011);
      background-image: linear-gradient(#eb5219, #c04011); }

  #nav-toggle:checked ~ .logo,
  .logo {
    grid-column: 2; } }
.home-content {
  height: 100%;
  grid-row: 2;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: auto; }

.hero-image {
  grid-row: 1;
  grid-column: 1;
  height: 51.6666666667vw;
  background: url("/static/media/backgrounds/hvalnes/hvalnes_lqr600x310.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain; }

.welcome {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column; }
  .welcome .welcome-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2.5em;
    color: #292824; }
  .welcome h1 {
    padding-bottom: 0.25em; }

@media only screen and (min-width: 568px) {
  .home-content {
    grid-template-rows: 1fr; }

  .hero-image {
    height: 100%;
    background-image: url("/static/media/backgrounds/hvalnes/hvalnes_lqr1600x827.jpg");
    background-size: cover; }

  .welcome {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    .welcome .welcome-wrapper {
      background: rgba(41, 40, 36, 0.8);
      color: #e1e1e3;
      height: auto;
      width: 60vw;
      border-radius: 0.1em;
      box-shadow: 0.2em 0.2em 0.3em rgba(41, 40, 36, 0.8);
      justify-content: center; } }
@media only screen and (orientation: landscape) and (min-width: 1024px) {
  .welcome {
    align-items: flex-start;
    padding-bottom: 10vh;
    padding-left: 5vw; }
    .welcome .welcome-wrapper {
      height: auto;
      width: 30%; } }
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%;
  width: 100%; }

body {
  font-family: Droid Sans, sans-serif;
  background-color: #e1e1e3; }
  body ::selection {
    background: #c04011;
    color: #fbfbfc; }

.main-content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr; }

/*# sourceMappingURL=style.css.map */
